*{
  margin: 0;
  padding: 0;
}

.write{
  float: left;
  margin: 10px 10px 10px 10px;
}

header
{
  background-image: url("grfx/header.jpg");
  margin: 0 auto;
  width: 800px;
  height: 268px;
}

section
{
  margin: 0 auto;
  width: 800px;
  background-color: white;
}

p{
  padding-left: 15px;
  padding-bottom: 30px;
  font-size: 18px;
}

body
{
  background-image: url(grfx/bg.png);
  background-repeat: repeat-x;
}

.top-left
{
  float: left;
  margin-right: 15px;
}

nav ul
{
  margin: 0px;
  padding: 0px;
  float: left;
  list-style: none;
  display: inline-block;
  padding-left: 15px;
}

nav
{
  text-decoration: none;
  float: left;
  color: white;
  position: absolute;
  bottom: 40px;
}

nav li{
  display: inline-block;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

nav a{
  color: white;
  text-decoration: none;
}

header{
  position: relative;
}

h2{
  padding-bottom: 10px;
  padding-top: 13px;
  font-weight: 750;
  padding-left: 22px;
}

body{
  font-family: sans-serif;
}

img{
  padding-bottom: 30px;
  padding-top: 12px;
  padding-right: 10px;
  padding-left: 20px;
}

.right{
  float: right;
}

h1{
  padding-left: 21px;
  padding-top: 5px;
  font-weight: 750;
	font-size: 31px;
}
